.sponsorListHolder{
	margin-bottom:30px;
}

.sponsor{
	width:250px;
	height:250px;
	float:left;
	margin:8px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:3px solid #fff;
	background:url("../img/background.png") no-repeat center center #fff;
}

.sponsorFlip:hover{
	border:3px solid #091d2e;
	
	/* CSS3 inset shadow: 
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;*/
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	
	position:absolute;
	top:65%;
	left:45%;
	margin:-70px 0 0 -70px;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.sponsorDescription{
	font-size:12px;
	padding:30px 20px 0 20px;
	font-style:italic;
	height:200px;
	overflow: hidden;	
}

.sponsorURL{
	font-size:11px;
	font-weight:bold;
	font-family: 'CenturyGothicBold';	
	
}

.sponsorURL a{
	right:0; 
	bottom:0;	
	position:absolute;	
}



.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 auto;
	width:990px;
}

