* {
	margin: 0px;
	padding: 0px;
}

body {	
	margin:0;	
	padding:0;
	font-family: Verdana, Geneva, sans-serif;	
	font-size:12px;
	font-style:normal;	
	/**/background-image:url(../images/bg.jpg);
	background-repeat: repeat ;
	background-color:#ffffff;
	}
	
#wrapper { width:100%; margin:0 auto; }
#page { padding:0px 10px;}

#header      { width:100%; margin:0 auto; height:145px;  }
#header-top  { margin-top:10px; padding:0px 10px;  height:55px;}
.logo        { width:300px; float:left; margin-right:15px; }
.Login       { overflow:hidden;_float:left;_margin-right:15px; padding-top:25px; }

/* Navigation */
#nav  { background-image:url(../images/nav_bg.png); background-repeat:repeat-x; background-position:top; height:65px; z-index:-100px}
.menu        { padding:7px 5px;}

/* Frame */

.side{ width:150px; float:left; padding: 5px 0 5px 5px;	margin: -5px -1px 0 -5px; overflow: hidden; }
.main{ overflow:hidden;_float:left;_margin-right:15px; min-height:650px; border:1px solid #dedede; background-color: #f9f9f9; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); border-radius: 0 3px 3px 0; border: 1px solid #dadada; padding:25px}


/*common css*/
.left { float:left; position:relative; }
.right { float:right; position: relative; }
.rightalign  { text-align:right}
.leftalign   { text-align:left}
.centeralign { text-align:center}
.clear { clear:both}

.dotline  { background:url(../images/common/dot.gif) repeat-x bottom left; height:10px }
.bold { font-weight:bold; }

p		{ padding:3px 0 3px 0; text-align:justify ;}
td 		{ padding:0; margin:0; font-weight: normal}
a img 	{ border: none;text-decoration: none; }
a:link, a:visited, a:active  { text-decoration:none; color:#4e4c4c}
a:hover { text-decoration: none;color:#ff9900  }

/*font family */
h3 { font-size:20px;}
h2 { font-size:18px;}
h1 { font-size:26px;}
h1 a:link, h1 a:visited, h1 a:active { text-transform:uppercase; }
h1 a:hover	{ text-decoration:none}



/*footer*/

#footer {  position: relative; background-image: url(../images/footer_bg.png); background-repeat:repeat-x; background-position:top; height:60px; width:100%;color:#ffffff; margin-top:20px}
#footer a:link { color:#ffffff;}
#footer a:hover { color:#595959;}


